@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

    /* Blue Primary Scale */
	--color-primary-50: oklch(0.97 0.01 264);
	--color-primary-100: oklch(0.94 0.03 264);
	--color-primary-200: oklch(0.88 0.06 264);
	--color-primary-300: oklch(0.80 0.10 264);
	--color-primary-400: oklch(0.70 0.15 264);
	--color-primary-500: oklch(0.60 0.20 264);
	--color-primary-600: oklch(0.50 0.20 264);
	--color-primary-700: oklch(0.40 0.18 264);
	--color-primary-800: oklch(0.30 0.15 264);
	--color-primary-900: oklch(0.20 0.10 264);
	--color-primary-950: oklch(0.10 0.05 264);

	--color-secondary-50: oklch(97% 0.015 30);
	--color-secondary-100: oklch(92% 0.02 30);
	--color-secondary-200: oklch(86% 0.03 30);
	--color-secondary-300: oklch(80% 0.04 30);
	--color-secondary-400: oklch(74% 0.05 30);
	--color-secondary-500: oklch(68% 0.06 30);
	--color-secondary-600: oklch(60% 0.07 30);
	--color-secondary-700: oklch(52% 0.08 30);
	--color-secondary-800: oklch(40% 0.09 30);
	--color-secondary-900: oklch(30% 0.1 30);
	--color-secondary-950: oklch(20% 0.11 30);

	--font-body: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-display: var(--font-body);
}

@layer base {
    body {
        font-family: var(--font-body);
        @apply text-gray-900 antialiased;
    }
}
